{% extends 'base.html.twig' %}

{% block body %}
    <div class="security">
        <div class="security-header">
            <img src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Inscription
            </h2>
        </div>
        <div class="security-body">
            <div>
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.nickname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    <div>
                        <button type="submit" class="btn btn-block">S'inscrire</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
